


body{
    margin: 0;
    padding: 0;
   background-color: aliceblue; 
   height: 100vh;
}
.container{
    width: 80%;
    margin-left:auto ;
    margin-right:auto ;
    margin-bottom:30px ;
    /* background-color: #eee; */
}


nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
    /* top: 0; */


}
nav .container{
    background-color: rgba(108, 110, 126, 0.8);
    height: 60px;
    /* padding-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items:  center;

}
nav .logo{
    align-items: center;
    /* width: 50px; */
    /* background-color: aqua; */
}


nav .logo img{
    
    /* display: inline-block; */
    width: 60px;

}
nav .links{
    position: relative;
    
    /* background-color: blue; */

}
nav .container .bars{

    background-color: rgb(215, 224, 250);
    height: 30px; ;
    width: 40px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
nav .container .bars span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom:3px ;
    

}

nav .container .bars :nth-child(2){

width: 60%;
transition: 0.3s;
}
nav .container .bars:hover :nth-child(2){

width: 100%;

}
/* nav .container .links:hover  ul{
} */

nav .links ul{
    position: absolute;
    right: 0;
    top: 20px;
    transition: 0.3s;
    list-style: none;
    width: 365px;
    background-color: #999;
    border-radius: 2px;
    padding: 0;
    overflow: hidden;
    height: 0;
    transition:0.5s;

}


#btn{
    display: none;

}

.links:has(#btn:checked) ul {
    height: auto;
    background-color:   rgba(108, 110, 126, 0.8);
    /* width: 500px; */
    z-index: 10;
    /* position: fixed; */
}

nav ul li{
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;

}
nav ul :not(:last-child){
    border-bottom:solid #333 1px ;
    padding-bottom:3px ;
}


nav ul li a{

    text-decoration: none;
    color: #222;
    transition: 0.3s;

}

nav ul  :hover{
    transition: 0.3s;
    background-color: #aecfeb;

}

nav .link{
    width:100px ;
    /* background-color: aqua; */
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    transition: 0.5s;


}
nav .link a{
    transition: 0.5s;
    text-decoration: none;
    color: #222;

}

nav .link:hover{
    background-color: #222;
    /* text-decoration: underline; */

}
nav .link:hover a{

        color: #aecfeb;

}


@media (max-width:600px) {
    nav .link{
        display: none;
    }
} 
@media (max-width:1200px){
    nav .links ul{
        width: 80vw;

    }
}




/* courses start */
section.courses{
    position: relative;
    top: 80px;
}

.courses .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:10px ;
    flex-shrink: 0;
    flex-grow: 1;
}

h2{
    text-align: center;
    width: 100%;
}
.course-box{
    
    width: 300px;
    height: 400px;
    padding: 3px;
    border: 1px solid #666;
    box-shadow: 1px 5px 5px #111 ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    transition: 0.3s;

}
.course-box:hover{
    background-color: #333;
    color: #eee;
    scale: 1.05;
}

.course-box .img-box{
    background-color: #aecfeb;
    width: 280px;
    height: 60%;
    margin: 2px;
    overflow: hidden;
}
.course-box .img-box img{
    /* background-color: aquamarine; */

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course-box .course-name{
    /* background-color: bisque; */
    font-size: 1.3rem;
    font-weight: 900;
    height: 10%;
    text-align: center;

}

.course-box .course-discription{
    /* background-color: blue; */
    height: 20%;
    text-align: center;
}

.course-box .buy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

}


.buy Button:hover{
    transition: 0.3s;
    background-color: #aecfeb;
}






footer .container{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}
footer{
    margin-top: 100px;
    background-color: #111;
    position: relative;
    bottom: 0;
}
footer a{
    display: inline-block;
    line-height: 80px;

    text-decoration: none;
    color: #222;
    width: max-content;
}
footer .social-icon{
    transition: 0.3s;

    /* line-height: 80px; */
    width:80px ;
    height: 80px;
    border-radius: 40px;
    text-align: center;

}
footer a:hover .social-icon{
    background-color: #222;
    color: #aecfeb;
    scale: 1.1;

}